Interface/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CalcularIMC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="peso" type="xs:double" />
        <xs:element minOccurs="0" name="altura" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalcularIMCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CalcularIMCResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>