Interface/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54611/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54611/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54611/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_Devolver_InputMessage">
    <wsdl:part name="parameters" element="tns:Devolver" />
  </wsdl:message>
  <wsdl:message name="IService1_Devolver_OutputMessage">
    <wsdl:part name="parameters" element="tns:DevolverResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewDonator_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewDonator" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewDonator_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewDonatorResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DevolverXml_InputMessage">
    <wsdl:part name="parameters" element="tns:DevolverXml" />
  </wsdl:message>
  <wsdl:message name="IService1_DevolverXml_OutputMessage">
    <wsdl:part name="parameters" element="tns:DevolverXmlResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddDonator_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDonator" />
  </wsdl:message>
  <wsdl:message name="IService1_AddDonator_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDonatorResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="Devolver">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Devolver" message="tns:IService1_Devolver_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DevolverResponse" message="tns:IService1_Devolver_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewDonator">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddNewDonator" message="tns:IService1_AddNewDonator_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddNewDonatorResponse" message="tns:IService1_AddNewDonator_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DevolverXml">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DevolverXml" message="tns:IService1_DevolverXml_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DevolverXmlResponse" message="tns:IService1_DevolverXml_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddDonator">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddDonator" message="tns:IService1_AddDonator_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddDonatorResponse" message="tns:IService1_AddDonator_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Devolver">
      <soap:operation soapAction="http://tempuri.org/IService1/Devolver" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewDonator">
      <soap:operation soapAction="http://tempuri.org/IService1/AddNewDonator" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DevolverXml">
      <soap:operation soapAction="http://tempuri.org/IService1/DevolverXml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDonator">
      <soap:operation soapAction="http://tempuri.org/IService1/AddDonator" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:54611/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>