Interface/Connected Services/ServiceReference1/Service141.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System.Net" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Net" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54611/Service1.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System.Security" />
  <xs:complexType name="NetworkCredential">
    <xs:sequence>
      <xs:element minOccurs="0" name="Domain" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Security" minOccurs="0" name="SecurePassword" nillable="true" type="q1:SecureString" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NetworkCredential" nillable="true" type="tns:NetworkCredential" />
</xs:schema>